[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/dwm_tut]
row=5
col=0

[/home/user/Desktop/discord_superuser.py]
row=9
col=0

[/home/user/Desktop/2020-06-12T00:35:57.407527-friends_backup.json]
row=10
col=0

[/home/user/Desktop/dotfiles]
row=7
col=0

[/home/user/Desktop/token_check.py]
row=8
col=0

[/home/user/Desktop/video1.mp4]
row=6
col=0

[/home/user/Desktop/Roxane]
row=3
col=0

[/home/user/Desktop/cloud_client]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/user]
row=2
col=0

